.list-card{
    max-width: 800px;
    margin: 200px auto;

    &-container{
        // width: 300px;
        // height: auto;

        &-img{
            height: 10%;
            width: auto;
        }
    }
}