#icon-plus{
    background-color: none;
    background-color: rgba(32, 32, 29, 0.158);
    border: 2px solid #808080;
    font-size: 30px;
    cursor: pointer;
    padding: 1rem;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

#icon-back-arrow{
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}