.profile-card-div{
    height: 100vh;
    background: rgba(0, 0, 0, 0.692);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}