.profile{

}
.profile-card-div{
    height: 100vh;
    background: rgba(0, 0, 0, 0.692);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.add-profile{
    text-align: center;
    margin-bottom: 110px;
    margin-left: 40px;
    &-p{
        color: #fff;
        text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    }
}
#icon-plus{
    font-size: 60px;
    transition: .2s all;
    &:hover{
        transform: scale(1.2);
    }
}