@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
.App{
    background: linear-gradient(235.83deg, rgba(255, 255, 255, 0.2) 0.91%, rgba(255, 255, 255, 0) 70.22%), #152B34;
    height: 100%;
    width: 100%;
    position: absolute;
}   